//====================================================================================================
.footer {
	background-color: #232f3e;
	// .footer__container
	&__container {
		padding: 15px 0;
	}
	// .footer__copy
	&__copy {
		text-align: center;
		font-size: 16px;
		color: #fff;
	}
}

//====================================================================================================
