.order-948 {
	// .order-948__container
	&__container {
	}
	// .order-948__title
	&__title {
		margin-bottom: 10px;
	}
	// .order-948__body
	&__body {
	}
	&__box {
		width: 100%;
		overflow-x: auto;
	}
}
